@charset "utf-8";
/* Um reset de página no CSS é uma técnica usada para remover ou neutralizar os estilos padrão que os navegadores aplicam aos elementos HTML.
Cada navegador tem sua própria folha de estilo padrão (user agent stylesheet), o que significa que, sem um reset, elementos como títulos,
parágrafos, listas e outros podem ser exibidos de maneira diferente em diferentes navegadores.
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* pixel => para tamanho e dimensões () */
html{
    height: 100vh;
}

/* background imagem - aplicar o gradiente
   background repeat - é para fazer com que o gradiente não repita na tela
   background position - é para aplicar a posição a qual o gradiente virá
   background attachment - é para fixar o gradiente na tela 
*/

body{
    background-image: linear-gradient(to bottom,  #0a0094 , #00f7ff , #0a0094);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed; 
}

/* paara configurar o css vamos atribuir estruturas e depois objetos */

header{
    display: flex;
    justify-content: center;
    background-color: #0a0094;
    width: 90vw;
    height: 7em;
    margin: auto;
    border-radius: 0 0 1em 1em;
}

h1{
    color: #f5f5f5;
    text-shadow: 5px 5px 10px rgb(0, 0, 0, 1);
    margin-top: 1em;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 2em;
    width: 7em;
    background-color: #009fa4;
    border-radius: 1em;
    
}

a:hover{
    transition: 1s;
    transform: scale(1.15);
    background-color: #0a0094;
}

main{
    margin-top: 2em;
    /* text-align: center; */
    height: 730px;
}

main h2, main p{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 3em;
    padding: 0.5em;
    background-image: linear-gradient(to left,  #0a0094 , #00f7ff , #0a0094);
}